:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary:#D1F5BE ;
  --secondary:#9CDE9F;
  --accent:#9DB17C;
}

h1,
.center {
  text-align: center;
}


.center {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  li a {
    height: 7px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #5f5d5d;
    color: rgb(169, 255, 169);
  }

  .box-model{
    border: 1px solid red;
    box-sizing: border-box;
  }
  h4,
  .center {
    text-align: center;
  }

  .span-p span{
    font-weight: bold;
    color: rgb(255, 251, 127);
  }

  .custom-bg{
    background-color: var(--primary);
  }
  
  .custom-t{
    color: var(--accent);
  }
  
  .custom-p{
    color: var(--secondary);
  }

  .container {
    display: grid;
    text-align: center;
  }

  .container p {
    background-color: lightgreen;
    border: 2px solid green;
    margin: 0;
    width: 100;
    height: 100;
  }

  /* Styles for Semantic page */
.wrapper-semantic {
  display: grid;
  grid-template-areas:
    "head head head head"
    "nav nav nav nav"
    "left main main right"
    "left main main right"
    "foot foot foot foot";
}

.semantic-nav {
  grid-area: nav;
}

.sematic-head {
  grid-area: head;
  margin: 16px;
}

.nav-semantic-left {
  grid-area: left;
}

.nav-semantic-right {
  grid-area: right;
  width: 200px;
  background-color: #333;
  height: 100%;
}

.main-semantic {
  display: grid;
  grid-template-areas:
    "main-lt main-rt"
    "art art";
  grid-area: main;
  margin-left: 16px;
}

.main-semantic-left {
  grid-area: main-lt;
}

.main-semantic-right {
  grid-area: main-rt;
}

.semantic-article {
  grid-area: art;
}

.semantic-footer {
  grid-area: foot;
  text-align: center;
  margin-top: 16px;
}

.semantic-footer p {
  display: inline;
}

.p12 {
  text-align: center;
  color: aliceblue;
}